*{
    padding: 0;
    margin: 0;
    overflow: hidden;

}

.box{
    
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
    animation: bg-color 5s infinite;

}

.bird{
    position: relative;
   
    background-image: url(bird.gif);
    width: 344px;
    height: 344px;
    position: absolute;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    animation: fly 5s linear infinite;
    /* animation: rotate 5s linear infinite; */
}




@keyframes fly 
{
    0%{
        left: -20vw;
        bottom: 0vh;
        
    }

    25%{
        left: 20vw;
      
      

    }

    50%{
        left: 60vw;
        bottom: 70vh;
        
       
    }

    



    75%{
        left: 90vw;
        
    
       
    }

    100%{
        left: 150vw;
        
        bottom: 115vh;
        transform: rotate(0deg);
        
       
    }
}



@keyframes bg-color{
    0%{
        background-color: rgb(233, 173, 173);
    }

    25%{
        background-color: rgb(204, 240, 162);
    }

    50%{
        background-color: rgb(117, 195, 226);
            
    }

    75%{
        
        background-color: rgb(187, 133, 236); 
    }

    100%{
        background-color: rgb(233, 173, 173);
            
    }

}